<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Customers</h1>

    <form action="/" method="GET" style="display: inline-block;">
        <input type="submit" value="Home">
    </form>
    | <form action="/add" method="GET" style="display: inline-block;">
        <input type="submit" value="Add">
    </form>
    {{if .CustomerNotEmpty}}
    | <form action="/edit" method="GET" style="display: inline-block;">
        <input type="number" name="key" id="key" min="1" max="{{.CustomerSize}}" placeholder="Key" step="1">
        <input type="submit" value="Edit">
    </form>
    | <form action="/delete" method="POST" style="display: inline-block;">
        <input type="number" name="key" id="key" min="1" max="{{.CustomerSize}}" placeholder="Key" step="1">
        <input type="submit" value="Delete">
    </form>
    {{end}}
    <hr>
    <ol>
        {{range $k, $v := .Customers}}
        <li>name: {{$v.Name}}, duration: {{$v.Duration}}, Remaining Time: <span id="time-left-{{$k}}"></span></li>
        {{end}}
    </ol>
    <script>
        let socket = new WebSocket("ws://localhost:3000/ws");

        socket.onopen = function () {
            console.log("Status: Connected");
        };

        socket.onmessage = function (e) {
            var cs = JSON.parse(e.data);
            if (!cs) return;
            for (const cust of cs) {
                let id = `time-left-${cust.i}`;
                let tl = document.getElementById(id);
                tl.innerHTML = cust["time-left"];
            }
        };
    </script>
</body>

</html>