<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Customers</h1>

    <form action="/add" method="GET" style="display: inline-block;">
        <input type="submit" value="Add">
    </form>
    {{if .CustomerNotEmpty}}
    | <form action="/edit" method="GET" style="display: inline-block;">
        <input type="number" name="key" id="key" min="1" max="{{.CustomerSize}}" placeholder="Key" step="1">
        <input type="submit" value="Edit">
    </form>
    | <form action="/delete" method="POST" style="display: inline-block;">
        <input type="number" name="key" id="key" min="1" max="{{.CustomerSize}}" placeholder="Key" step="1">
        <input type="submit" value="Delete">
    </form>
    {{end}}
    <hr>
    <ol>
        {{range .Customers}}
        <li>name: {{.Name}}, duration: {{.Duration}}</li>
        {{end}}
    </ol>
</body>

</html>